h1{
    color: white;;
}

.mainBody{
    height: 1000px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 80%;
}

textarea{
    margin-left: 10px;
    width: 870px;
    height: 400px;
}