.mainBody{
    background-color: white;
    width: 1000px;
    height: 2000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.characterInfo{
    height: auto;
    width: 350px;
    border: 1px solid;
    margin-bottom: 5px;
}

.attributeBox{
    border: 1px solid;
    width: 350px;
    height: 300px;
}