.infoSections, .combatSections, .additionalInfoSections {
    display: flex;
    justify-content: space-around;
    margin: 0 5px;
}

.mainBody {
    background-color: white;
    width: 1000px;
    height: 2000px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.characterInfo, .attributeBox, .abilities, .cyphers, .skills, .attack, .equipament, .backGround, .notes {
    border: 1px solid;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.characterInfo {
    width: 950px;
}

.characterInfo input {
    margin: 5px; 
    display: inline-block; 
}

.attributeBox, .abilities, .cyphers, .skills, .attack, .equipament {
    width: 475px; 
    height: 400px; 
    text-align: center;
}

.backGround, .notes {
    width: 475px; 
    height: 500px; 
    text-align: center;
}


.skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 0; 
}

.skills li {
    width: calc(33.333% - 10px); 
    margin: 5px; 
    text-align: left; 
}

.attributeBoxCountainer {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.attributeBoxCountainer div {
    width: 90px; 
    height: 120px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #000; 
    margin: 5px; 
    font-size: 18px;
}
